@font-face {
	font-family: HurmeLight;
	src: url('font/HurmeLight.otf') format("opentype");
}
@font-face {
	font-family: Hurme;
	src: url('font/HurmeRegular.otf') format("opentype");
}
@font-face {
	font-family: HurmeSemiBold;
	src: url('font/HurmeSemiBold.otf') format("opentype");
}
@font-face {
	font-family: HurmeBlack;
	src: url('font/HurmeBlack.otf') format("opentype");
}
@font-face {
	font-family: HurmeBlackObl;
	src: url('font/HurmeBlackObl.otf') format("opentype");
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Hurme;
	font-size: 1em; 
	line-height: 1.4em;
	/*text-shadow: 1px 1px 0 rgba(255,255,255,0.45);*/
}

a{
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
}

hr{
	display: block; 
	height: 0; 
	border: 0; 
	border-top: 1px solid rgba(0,0,0,0.2); 
	border-bottom: 1px solid rgba(255,255,255,0.2); 
	margin: 1em 0; 
	padding:0;
}

h1, h2, h3, p{
	margin-bottom: 1em;
}

h1, h2{
	font-family: HurmeSemiBold;
	line-height: 1em;
	font-weight: 700;
}

h2{
	font-size: 60px;
	z-index:1;
}
h2.slogan{
	font-size: 36px;
}

header, #navigation-menu, #content, footer{
	position: relative;
}

header, footer{
	padding: 1em 3em;
	text-shadow: none;
}

header h1{
	color: #e6842c;
	font-size: 1.4em;
	font-style: italic;
}

nav ul, nav ol, nav li{
	list-style: none; 
	margin: 0; 
	padding: 0;
}

#navigation-menu{
	position: fixed;
	top: 2em;
	right: auto;
	left: 3em;
	bottom: auto;
	z-index: 9;
	text-shadow: none;
	font-size: 0.85em;
}

#navigation-menu ul{
	overflow: hidden;
	/*-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;*/
}

#navigation-menu li{
	margin-bottom: 20px;
}

#navigation-menu a{
	display: block;
	padding: .5em;
	font-size: 18px;
	color: #120C30;
	background: #FEF8EC;
	text-align: center;
	font-family: HurmeSemiBold;
/*	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;*/
}

#navigation-menu a:hover, #navigation-menu a.mPS2id-highlight{
	background: #FC7D90;
	color: #FEF8EC;
	font-family: HurmeBlack;
}

#content section{
	/*text-shadow: -1px -1px 0 rgba(0,0,0,0.65);*/
	/*	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3); 
	box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3);*/
	padding: 0 5em;
	text-align: center;
	position: relative;
}
.content{
	position: relative;
}

.content hr + a, .content hr + a + a{
	margin-right: 2em;
}

/*.mPS2id-target .content h2:first-child:after{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	content: "Current target class: mPS2id-target";
	margin-left: 1em;
	font-size: 0.25em;
	line-height: 1.4em;
	font-style: italic;
	opacity: 0.7;
	width: 180px;
	font-family: Hurme;
	font-weight: normal;
}*/

/*.ie8 .mPS2id-target .content h2:first-child:after{
	font-size: 0.95em;
}*/

/*header, .content, footer{
	padding-right: 150px;
}*/

.horizontal-layout{
	width: 700%;
}

.horizontal-layout header h1{
	display: none;
}

.horizontal-layout #navigation-menu{
	right: auto;
	left: 3em;
	top: 4em;
}

.horizontal-layout #content{
	overflow: hidden;
}

.horizontal-layout #content section{
	width: 14.285%;
	float: left;
	min-height: 480px;
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.3),-1px 0 0 rgba(0,0,0,0.6); 
	box-shadow: 0 -1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.3),-1px 0 0 rgba(0,0,0,0.6);
}

.horizontal-layout #content section:nth-child(3n+2),.horizontal-layout #content section:nth-child(3n+3){
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.3),-1px 0 0 rgba(0,0,0,0.2),inset 1px 0 0 rgba(255,255,255,0.5); 
	box-shadow: 0 -1px 0 rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.3),-1px 0 0 rgba(0,0,0,0.2),inset 1px 0 0 rgba(255,255,255,0.5);
}

/*.horizontal-layout .content h2{
	position: relative;
	padding-bottom: 50px;
}*/

/*.horizontal-layout .content h2 + p{
	margin-top: -50px;
}*/

/*.horizontal-layout .mPS2id-target .content h2:first-child:after{
	display: block;
	position: absolute;
	width: 100%;
	height: 50px;
	margin-left: 0;
}*/

.horizontal-layout header > *, .horizontal-layout footer > *{
	width: 10%;
}

.horizontal-layout header, .horizontal-layout .content, .horizontal-layout footer{
	padding-left: 150px;
	padding-right: 3em;
}

.auto-layout{
	width: 6200px;
	height: 6200px;
}

.auto-layout header h1{
	margin-left: 150px;
}

.auto-layout #navigation-menu{
	right: auto;
	left: 2em;
}

.auto-layout #content{
	height: 100%;
}

.auto-layout #content section{
	position: absolute;
	min-height: 500px;
	width: 600px;
	top: 0;
	left: 0;
	margin-left: 3em;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2); 
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
/*	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;*/
}

.auto-layout #content section#section-2{
	top: 0;
	left: 1800px;
}

.auto-layout #content section#section-3{
	top: 1200px;
	left: 900px;
}

.auto-layout #content section#section-4{
	top: 1200px;
	left: 2700px;
}

.auto-layout #content section#section-5{
	top: 2400px;
	left: 1800px;
}

.auto-layout #content section#section-6{
	top: 2400px;
	left: 3600px;
}

.auto-layout #content section#section-7{
	top: 3600px;
	left: 2700px;
}

.auto-layout .content{
	padding-left: 150px;
	padding-right: 3em;
}

section .content {
	padding-top: 60px;
	padding-bottom: 60px;
}

section h2 {
	position: relative;
}
section h2.slogan {
	font-size: 36px;
	font-family: HurmeSemiBold;
	color: #120C30;
	z-index:1;
}
section h2.bg-txt {
	position: absolute;
	margin-top: -8px;
	font-size: 110px;
	font-family: HurmeSemiBold;
	width: 100%;
	text-align: center;
	color: #F1F0FB;
	z-index: 0;
}

#section-0 .content {
	padding-top: 160px;
	padding-bottom: 150px;
}
#section-0 h2 {
	position: relative;
	color: #FEF8EC;
	
}
#section-0 h2.slogan {
	font-size: 28px;
	font-family: Hurme;
	margin-bottom: -30px;
	z-index:1;
	color: #FEF8EC;
	
}
#section-0 h2.bg-txt {
	position: absolute;
	margin-top: 22px;
	font-size: 160px;
	font-family: HurmeSemiBold;
	width: 100%;
	text-align: center;
	color: #3D3858;
	z-index: 0;
}


#content #section-0 {
  background-color: #130F2A;
  background-image:
	linear-gradient(
		0deg, 
		transparent 49%, 
		rgba(255, 255, 255, .3) 50%, 
		rgba(255, 255, 255, 0) 50%, 
		transparent 100%, 
		transparent 100%, 
		rgba(255, 255, 255, .05) 100%, 
		rgba(255, 255, 255, .05) 100%, 
		transparent 100%, 
		transparent
	), 
	linear-gradient(
		90deg, 
		transparent 49%, 
		rgba(255, 255, 255, .3) 50%, 
		rgba(255, 255, 255, 0) 50%, 
		transparent 100%, 
		transparent 100%, 
		rgba(255, 255, 255, .05) 100%, 
		rgba(255, 255, 255, .05) 100%, 
		transparent 77%, 
		transparent
	);
	
  height:100%;
  background-size:80px 80px;
	min-height: 500px;
}
.circle-container {
	text-align: center;
	margin: 80px 0 0 0;
}
.circle {
	display: inline-block;
	vertical-align: top;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin-right: 25px;
	margin-bottom: 25px;
}
.circle .slogan {
	color: #fff;

	padding: 0 0 0 0;
}
.circle p {
	color: #fff;	
	margin: 0 0 0 0;
	padding: 4px 20px;
}
.circle1 {
	background: #1e2153;
}
.circle2 {
	background: #4e385a;
}
.circle3 {
	background: #3a4aac;
}
.circle4 {
	background: #535a97;
	margin-right: 0;
}
.circle1 .slogan,
.circle3 .slogan,
.circle4 .slogan {
	margin: 60px 0 0 0;
}
.circle2 .slogan {margin: 0 0 0 0;}
.circle2 p:first-child {
	margin-top: 30px;
	padding-left: 44px;
	text-align: left;
}
  
#section-2 {
	background: #f7f5ff;
}
#section-2 img {width: 88%; margin-top: 30px;}
#section-2 h2.bg-txt {color: #ebe7ff;}
#section-4 {background: #130f2a;}
#section-4 h2.bg-txt {color: #35314e;}
#section-4 h2.slogan,
#section-4 p {
	color: #f2f7ec;
}
@media only screen and (min-width: 1140px){

	.horizontal-layout header h1{
		display: block;
	}

	.auto-layout header h1{
		margin-left: 0;
	}

	#navigation-menu{
		font-size: 1em;
		top: 1.55em;
	}

	.horizontal-layout #navigation-menu, .auto-layout #navigation-menu{
		right: 3em;
		left: auto;
		top: 1.55em;
	}

	#navigation-menu ul{
		/*-moz-border-radius: 17px; -webkit-border-radius: 17px; border-radius: 17px;*/
	}

	#navigation-menu a{
		/*-moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px;*/
	}

}

select {width: 100%;}
img {max-width: 100%;}
ol, ul {
	margin: 0;
	padding: 0;
	text-align: left;
}
ul {list-style-type: none;}
ol {
	padding-left: 16px;
  font-family: HurmeSemiBold;
}
ol li {margin: 10px 0;}
.cl-map img {border: 1px solid #ccc;}
.cl-container,
.cl-content {
	width: 100%;
}
.cl-content {
	padding-right: 20px;
}
.cl-container h3 {
	text-align: left;
	font-family: HurmeLight;
	font-size: 20;
}
.cl-container div{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.cl-sub-content {
  margin-top: 20px;
  margin-bottom: 40px;
}
.cl-gender,
.cl-total-number {
 font-family: HurmeSemiBold;
 font-size: 52px;
 color: #120C30;	
}

.cl1, .cl2 {padding-right: 60px;}
.cl1 {width: 340px;}
.cl2 {width: 272px;}
.cl3 {width: 300px;}
.cl-map {margin-top: 40px;}
/* Chart.js */
.doughnut {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-left: -70px;
}
.chart-legend {
	display: inline-block;
	vertical-align: top;
	margin-left: -50px;
}
.chart-legend ul li {
	font-size: 12px;
}
.chart-legend ul li span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}
.next{
	bottom: 10px;
	margin-bottom: -100px;
}
.next img,
.next a {
	display: block;
	margin: 0 auto;
	color: #fff;	
}
.next img {height: 80px; margin-bottom: 20px;}
.cl-ages {margin-top:0;}











